main{
  background-color: rgb(24, 94, 119);
  
}

.title{
  color: bisque;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;

}

.userIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px
}

.section-three{
  padding-bottom: 100px
}

.project-row{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.single-project{
  margin: 20px;
}

img {
  opacity: 0.7;
}

img:hover{
  opacity: 1;
}

.page-header{
  text-align: center;
  color: bisque;
  padding-top: 20px;
  margin-bottom: 20px
}

p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-right: 100px;
  margin-left: 100px;
  color: bisque;
  padding-bottom: 500px;
}



.document{
  color: bisque;
  text-decoration: none;
}


.skill-title{
  text-align: center;
  color: bisque;
  margin-bottom: 20px
}


.frontend-skill-list{
  margin-right: 0px;
  list-style: none;
  text-align: center;
  color: bisque;
  margin-bottom: 20px
}

.backend-skill-list{
  margin-right: 0px;
  list-style: none;
  text-align: center;
  color: bisque;
  padding-bottom: 100px;
  margin-bottom: 0px
  

}

.resume-document{
  text-align: center;
  color: bisque;
  text-decoration: none;
  margin-bottom: 20px
  
}
 .resume-document a:hover {
  text-decoration: underline;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 223, 226);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

/*********************************************************************/
/* Media Queries */

@media screen and (max-width: 1000px) {
  .project-row{
    display: flex;
    flex-direction: column;
  }
}

