body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --secondary: #F3A847;
  --dark: #000000;
  --spacing-one: calc(1rem );
}



.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

header{
  background-color: rgb(226, 223, 226);
  
}

.header-title{
  color: rgb(24, 94, 119);
  padding-top: 0px;

}

header h2 a {
  text-decoration: none;

}

header h2 a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(24, 94, 119); ;
}

nav {
  list-style: none;
  margin: 0;
  padding:0;
  text-align: center;
  margin-top: 10px;
  margin-left: 500px

}

nav ul {
  display:flex;
  justify-content:space-around;
  
}

nav  li {
  cursor: pointer;
  text-decoration: none;
  display:inline;
  color: rgb(24, 94, 119);
  font-weight: bold;
  font-size: large;
  padding-top: 0px
  
}

nav li:hover {
  text-decoration: underline;
}

form{
  padding-bottom: 300px;
  
}

.field{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

label{
  color: bisque
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}


.error-text{
  padding-bottom:10px
}

button {
	background: yellow;
	border: 0;
	border-radius: 5px;
	color: rgb(24, 94, 119);
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
  
  
}

@media screen and (max-width: 790px) {
  header {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 790px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
    
  
  }
}

@media screen and (max-width: 502px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
    
  
  }
}







  



